<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SwiftRichString-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftRichString-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftRichString-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftRichString-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>377C8E421F0EF04200D4026C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52D6D97B1BEFF229002C0205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52D6D9851BEFF229002C0205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52D6D9E11BEFFF6E002C0205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52D6D9EF1BEFFFBE002C0205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52D6DA0E1BF000BD002C0205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD7502791C68FCFC006590AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD75028C1C690C7A006590AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
