.DS_Store
/SwiftRichString/SwiftRichString.xcodeproj/xcuserdata/danielemargutti.xcuserdatad
/SwiftRichString/SwiftRichString.xcodeproj/project.xcworkspace/xcuserdata/danielemargutti.xcuserdatad
/SwiftRichString.xcworkspace/xcuserdata/danielemargutti.xcuserdatad
